@page "/activities"

@inject IState<ActivityState> ActivityState
@inject IJSRuntime js

<div class="ui grid">
    <div class="ten wide column">
        <ActivityList />
    </div>
    <div class="six wide column">
        <h1>Filters</h1>
    </div>
</div>

@code {

}