@page "/"
@namespace Reactivities.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reactivities.Blazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/semantic-ui/semantic.min.css" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script>
        function log(message) {
            console.log(message);
        }
        function toggleClass(id, className) {
            var element = document.getElementById(id);
            element.classList.toggle(className);
        }
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>