@inject Agent Agent
@inject NavigationManager NavManager

<div class="ui divided items">
    @if (_activities == null)
    {
        <div class="ui segment">
            <p></p>
            <div class="ui active inverted dimmer">
                <div class="ui loader"></div>
            </div>
        </div>
    }
    else
    {
        @foreach (var group in _activities)
        {
            <label class="ui blue ribbon large label">@group.Date</label>
            @foreach (var activity in group.Activities)
            {
                <ActivityListItem Activity="activity" />
            }
        }
    }
</div>

@code {
    List<ActivityGroupByDate> _activities;

    protected override async Task OnInitializedAsync()
    {
        var activities = await Agent.GetActivities();
        if (activities != null)
        {
            _activities = activities.GroupBy(a => String.Format("{0:MM/dd/yy}", a.Date))
                                    .Select(x => new ActivityGroupByDate
                                    {
                                        Date = x.Key,
                                        Activities = x.ToList()
                                    })
                                    .ToList();
        }
    }
}