@inject IJSRuntime js
@inject Agent agent
@inject NavigationManager NavManager

<EditForm class="ui form"
          Model="loginForm"
          OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <InputText class="ui field"
               placeholder="Email"
               @bind-Value="loginForm.Email" />
    <ValidationMessage For="@(() => loginForm.Email)" />
    <InputText class="ui field"
               type="password"
               placeholder="Password"
               @bind-Value="loginForm.Password" />
    <ValidationMessage For="@(() => loginForm.Password)" />
    <button type="submit"
            class="ui positive button">
        Login
    </button>
</EditForm>

@code {
    LoginUserForm loginForm = new LoginUserForm();

    async Task HandleSubmit()
    {
        var response = await agent.Login(loginForm);
        if (response.IsSuccessStatusCode)
            NavManager.NavigateTo("activities", true);
    }
}