@page "/"
@layout HomeLayout

@inject Agent agent
@inject StorageService Storage
@inject IJSRuntime js

<div class="ui segment inverted masthead">
    <div class="ui container"
         style="text-align: center;">
        <header class="inverted">
            <img class="ui image" src="assets/logo.png" alt="Logo"
                 style="margin-bottom: 12px;
                        margin: auto;" />
            <h1>Reactivities</h1>
        </header>
        <header class="inverted">
            <h2>Welcome to Reactivities</h2>
            <NavLink href="activities">
                <a class="ui button huge inverted"
                   href="login">
                    Login
                </a>
            </NavLink>
        </header>
        <button @onclick="SimulateFetch">Simulate Fetch</button>
        <p>@Storage.CurrentUser?.DisplayName</p>
        <ul>
            @if (Storage.Activities != null)
                @foreach (var activity in Storage.Activities)
                {
                    <li>@activity.Title</li>
                }
        </ul>
    </div>
</div>

<style>
    .masthead {
        display: flex;
        align-items: center;
        background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89% ) !important;
        height: 100vh;
    }

        .masthead .ui.menu .ui.button,
        .ui.menu a.ui.inverted.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }
</style>

@code {
    Random rand = new Random();

    async Task SimulateFetch()
    {
        if (Storage.CurrentUser == null)
            await agent.Login(new LoginUserForm { Email = "danietzu@test.com", Password = "Pa$$w0rd" });

        if (Storage.Activities == null)
            await agent.GetActivities();

        Storage.SelectedActivity = Storage.Activities.FirstOrDefault();
    }
}