@page "/error"

<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="search icon"></i>
        Oops - we've looked everywhere but couldn't find this.
    </div>
    <NavLink href="/activities">
        <button class="ui button primary">
            Return to Activities Page
        </button>
    </NavLink>
</div>

@code {

}