@using Microsoft.JSInterop;
@using System.Text.Json;
@inject IJSRuntime JsRuntime
@inject StorageService Storage

@if (hasLoaded)
{
    @ChildContent
}
else
{
    <p>Loading...</p>
}

@code {
    private bool hasLoaded;
    private bool isDeserializing;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string vm;
        vm = await JsRuntime.InvokeAsync<string>("state.load", nameof(Storage));

        if (!string.IsNullOrEmpty(vm))
        {
            try
            {
                var viewModel = JsonSerializer.Deserialize<StorageService>(vm);
                if (viewModel != null)
                {
                    isDeserializing = true;
                    Storage.CurrentUser = viewModel.CurrentUser;
                    Storage.Activities = viewModel.Activities;
                    Storage.SelectedActivity = viewModel.SelectedActivity;
                    isDeserializing = false;
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }

        Storage.PropertyChanged += async (o, e) =>
        {
            if (isDeserializing)
            {
                return;
            }
            var vmStr = JsonSerializer.Serialize(((StorageService)Storage));
            await JsRuntime.InvokeAsync<object>(
                "state.save", nameof(Storage), vmStr);
        };

        hasLoaded = true;
    }
}