@inherits FluxorComponent

@inject IDispatcher Dispatcher

<div class="ui fixed top inverted menu">
    <div class="ui container">
        <NavLink Match="NavLinkMatch.All"
                 href=""
                 class="item">
            <img src="/assets/logo.png"
                 alt="logo"
                 style="margin-right:10px;" />
            Reactivities
        </NavLink>
        <NavLink href="activities"
                 class="item">
            Activities
        </NavLink>
        <div class="item">
            <NavLink href="createActivity"
                     class="positive ui button"
                     @onclick="ResetForm">
                Create Activity
            </NavLink>
        </div>
    </div>
</div>

@code {
    void ResetForm()
    {
        Dispatcher.Dispatch(new SelectActivityAction { SelectedActivity = null });
    }
}