@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                ShowProgressBar="@true" />

<NavBar />
<div class="ui container"
     style="margin-top: 7em;">
    @Body
</div>