@inject RootStore Store

<div class="ui mini modal"
     id="@Id">
    <div class="content">
        @ChildContent
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}