@inject NavigationManager NavManager

<div class="ui fixed top inverted menu">
    <div class="ui container">
        <NavLink Match="NavLinkMatch.All"
                 href=""
                 class="item">
            <img src="/assets/logo.png"
                 alt="logo"
                 style="margin-right:10px;" />
            Reactivities
        </NavLink>
        <NavLink href="activities"
                 class="item">
            Activities
        </NavLink>
        <div class="item">
            <button href="createActivity"
                    class="positive ui button"
                    @onclick="CreateActivity">
                Create Activity
            </button>
        </div>
    </div>
</div>

@code {
    void CreateActivity()
    {
        @*Dispatcher.Dispatch(new SelectActivityAction { SelectedActivity = null });
            NavManager.NavigateTo("createActivity");*@
    }
}