<div class="ui segment text align center attached secondary inverted top teal"
     style="border: none;">
    3 people going
</div>
<div class="ui segment attached">
    <div role="list"
         class="ui list">
        <div role="listitem"
             class="item"
             style="position: relative;">
            <label class="ui right ribbon label orange"
                   style="position: absolute;">Host</label>
            <img class="ui image"
                 src="assets/user.png" alt=""
                 style="width: 50px; height: 50px;" />
            <div class="content vertical align middle">
                <header><h3><a href="">Bob</a></h3></header>
                <div class="extra"
                     style="color: orange;">Following</div>
            </div>
        </div>
        <div role="listitem"
             class="item"
             style="position: relative;">
            <img class="ui image"
                 src="assets/user.png" alt=""
                 style="width: 50px; height: 50px;" />
            <div class="content vertical align middle">
                <header><h3><a href="">Tom</a></h3></header>
                <div class="extra"
                     style="color: orange;">Following</div>
            </div>
        </div>
    </div>
</div>

@code {

}