@page "/activities/{Id}"

@inject NavigationManager NavManager
@inject Agent Agent

@if (loading)
{
    <div class="ui segment">
        <p></p>
        <div class="ui active inverted dimmer">
            <div class="ui loader"></div>
        </div>
    </div>
}
else
{
    if (Activity != null)
    {
        <div class="ui grid">
            <div class="ten wide column">
                <ActivityDetailedHeader Activity="Activity" />
                <ActivityDetailedInfo Activity="Activity" />
                <ActivityDetailedChat />
            </div>
            <div class="six wide column">
                <ActivityDetailedSidebar />
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public string Id { get; set; }

    Activity Activity;
    bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        Activity = await Agent.GetActivity(Id);
        loading = false;
    }
}